sudo: required
services: 
  - docker

before_install:
  - docker build -f docker-react/Dockerfile.dev -t dev docker-react

script:
  - docker run -e CI=true dev npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "docker-react"
  env: "DockerReact-env"
  bucket_name: "elasticbeanstalk-us-east-2-098526689657"
  bucket_path: "docker-react"
  on:
    branch: master
